@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef6e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Lilita One', cursive;
  display: flex;
  // justify-content: center;
  // justify-self: center;
}

///////////
/// HEADER
//////////
.nav { 
 
  background-color: #55423d;
  display: grid;
// justify-content: flex-end;
}
  .headerDiv {
    display: flex;
    align-items: center;
    background-color: #55423d;
    font-family: 'Lilita One', cursive;
    font-size: 25px;
    margin-left: 3rem;
    color: white;
    // justify-self: flex-start;
    // align-self:flex-start;
  }

  

  ul {
    display: flex;
    list-style: none;
    grid-column: 3;
    padding: 5px;
  }

  .welcome {
    display: flex;
    padding-top: 1rem;
    margin-right: 4rem;
    color: white;
    text-align: center;
  }

  .google-profile-pic {
      border-radius: 50%;
      max-width: 50px;
    }
  .pic-google-li {
    margin-left: 2rem;
  }
    

 .buttonArea {
    margin: 2rem;
    }

  .logoutButton {
    margin-left: 1rem;
align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;

}

  .loginButton {
      align-content: center;
      border: none;
border-radius: 6px;
background-color: #ffc0ad;

    }


////////////////
/// INDEX-SELECTOR
/////////////////

 .animals-button {
  padding-top: 5rem;
  margin-left: 6rem;
  color:#001858

 }

 .animals-button label {
  display: inline-block;
    background-color: #f582ae;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #a4faff;
    border-radius: 4px;
 }
 .animals-button input[type="radio"]:checked + label {
  background-color:rgb(255, 255, 255);
  border-color: rgb(176, 235, 243);
 }

 .animals-button input[type="radio"]:focus + label {
  border: 2px dashed #fa5aaf;
}

.animals-button label:hover {
  background-color: #ffc7c7;
}
 .dog-button, .cat-button, .rabbit-button {
  opacity: 0;
  position: fixed;
  width: 0;
 }

 label {
  margin: 3px;
 }

 .favorites-link {
    display: inline-block;
    background-color: #e34747;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: 2px solid #06c1fa;
    border-radius: 4px;
    text-decoration: none;
    margin: 3px;
 }

 :hover.favorites-link {
  background-color: #fa0000;
 }

//////////////////
/// FAVES 
//////////////////
.favoritePetsContainer {
  // put into cards with name on top, image in middle, and age, gender, location on bottom
  display: grid;
  grid-template-columns: 1fr; 

  // all items in center
  .faveLink {
  text-decoration: none;
  }
  
  .favoritePetCard {
    display: flex;
    flex-direction: column;
   
    // justify-self: center;
    // justify-content: center;
    // list-style-type: none;
    // background-color: #8bd3dd;
    padding: 10px; 
    // fit card to image and text
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #f3d2c1;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #8bd3dd;
    // center text
    text-align: center;
    // center image
    align-items: center;
  .favoriteName , 
  .favoriteAge, 
  .favoriteGender, 
  .favoriteBreed {
  color: #001858; 
    }
  }
  .favoritePic {
    display: flex;
    max-height: 400px;
    align-content: center;
    align-self: center;
        max-width: 350px;
       
        min-height: 200px;
        border-style: solid;
        border-width: 3px;
        border-radius: 4px;
        border-color:#172c66;
        margin:auto; 
  }
  .deleteButton {
    border: none;
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: 6px;

    
  }
}




////////////////
///MAIN INDEX
////////////////

.available {
  display: flex;
  justify-content: center;
  justify-self: center;
  color: #140d0b;
}

ul {
  
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Lilita One', cursive;

  .indexCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    background-color: #f3d2c1;
    padding: 10px; 
    width: 400px;
    margin: 10px;
    border-width: 5px;
    border-style: solid;

    border-radius: 10px;
    border-color: #8bd3dd;
  }
  .petName {
    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  
  

  .pic {
    display: flex;
    max-height: 400px;
    align-content: center;
    align-self: center;
    height: 350px;
    width: 300px;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px; 
    border-color: #001858;
    margin:auto; 
       
  }
  .indexAge {
   text-align: center;
   color: #172c66;
  }

  .indexLocation {
    text-align: center;

  }
 }

 .display-pet-div {
  width: 80%;
  margin: 0 auto;
 }
 
 .available {
    text-align: center;
    color:#001858;
 }
 .animal-name-link {
  text-decoration: none;
}
/////////
/// SHOW
////////
.showContainer {
 display: grid;
 grid-template-columns: 1fr;

  .showPet {

    display: grid;
    grid-template-columns: 1fr ;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    background-color: #8bd3dd;
    padding: 10px; 
    max-width: 400px;
    margin: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #172c66;
    text-align: center;
    color: #001858;
  .showPetName {
    grid-template-areas: 1;
    justify-content: center;
  justify-self: center;
  color: #140d0b;
  }
  // .showDescription {

    
    .showPic {
      display: flex;
      max-height: 400px;
      align-content: center;
    align-self: center;
    max-width: 350px;
    min-width: 300px;
    min-height: 100px;
    border-style: solid;
    border-radius: 4px;
    border-width: 3px;
    border-color: #001858; 
    
  }
  

  .showBreed {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .showAge {
    display: flex;
    justify-self: center;
    
  }
  #favorites, .return {
    background-color: #f582ae;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
  }
  
}
}
@media only screen and (min-width: 980px) {
  /////////
  /// NAV WIDE
  //////////////////
/// 

    .nav { 
    width: 100%;
    background-color: #55423d;
    display: grid;
    // justify-content: flex-end;
    grid-template-columns: 
    1fr
    2fr
    1fr;  
      .headerDiv {
       
        grid-column: 1fr 2fr 1fr;
        font-family: 'Lilita One', cursive;
      
        // justify-self: flex-start;
        // align-self:flex-start;
      }
      ul {
        display: flex;
        list-style: none;
        grid-column: 3;
        padding: 5px;
        .welcome {
      // margin: 5px;
      max-width: 70px;
      font-family: 'Lilita One', cursive;
          
         
        }
        .google-profile-pic {
          grid-column: 3;
          border-radius: 50%;
          margin: 5px;
          max-width: 50px;
        }
        .buttonArea {
        display: flex;
        align-items: center;
        }
        .logoutButton {
    align-content: center;
    align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;
        }
        .loginButton {
          align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;
    
        }
      }
    }
    ////////////
    /// MAIN WIDE
    ///////////////
    .available {
      display: flex;
      justify-content: center;
      justify-self: center;
      color: #140d0b;
    }
    
    .displayPetDiv {
      ul {
     display: grid;
     grid-template-columns: auto auto ;
     max-width: 400px; 
     min-height: 400px;
      padding: 20px; 
      margin: 15px;
    }
    .indexCard {
      padding: 10px;
      margin: 10px;
    }

  .animal-name-link {
    text-decoration: none;
  }
    .petName {
      display: flex;
      justify-self: center;
      justify-content: center;
    }
    .indexAge {
      display: flex;
      flex-direction: column;
      padding: 10px; 
      width: 400px;
      // overflow: scroll;
    }
    .pic {
      max-width: 350px;
      justify-self: center;
    }
  }
}
/////////////////
/// SHOW WIDE
////////////////
@media only screen and (min-width: 800px) {
.showContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

.showPet {
  // display: grid;
  grid-column: 1 span 3;
  // flex-direction: column;
  
}

}
}
@media only screen and (min-width: 1400px) {
  
  
  .displayPetDiv {
    ul {
    display: grid;
    grid-template-columns: auto auto auto ;
    
  }
  .indexCard {
    padding: 10px;
    margin: 10px;
  }
}
  
}
@media (prefers-color-scheme: dark) {
body {
  background-color: #55423d;
  .nav {
    background-color: #140d0b;
  }
  .headerDiv {
    background-color: #140d0b;
  }
  
  //////
  /// INDEX DARK
  ////////
  .available {
    color: #fffffe ;
  }
  .displayPetDiv {
    
    .indexCard {
      display: flex;
      flex-direction: column;
      margin: 10px;
      justify-self: center;
      justify-content: center;
      list-style-type: none;
      background-color: #140d0b;
      border-style: solid;
      border-color: #9656a1;
      border-width: 3px;
      
    }
    img {
      border-style: solid;
      border-width: 3px;
      border-color: #9656a1
    }
    .indexAge, .indexLocation, .petName {
      color: #fff3ec;
      
      
    }
    
  }
  //////
  /// FAVE DARK
  /////// 
  .favoritePetsContainer {

    .favoritePetCard {
      background-color: #140d0b;
      
      border-color: #9656a1;
      .favoriteName , 
  .favoriteAge, 
  .favoriteGender, 
  .favoriteBreed {
  color: #fffffe; 
    }
    }
    .favoritePic {
      border-color: #9656a1;
    }
    .favoriteName, .favoriteAge, .favoriteGender, .favoriteBreed {
      color: #fef6e4;
    }
  }
    
  /////
  /// SHOW DARK
  /////////
  /// 
  /// 
  .showContainer {

    .showPet {
      background-color: #140d0b;
      border-color: #9656a1;
      
      color: #fffffe;
      .showPetName, .showAge, .showGender {
        color: #fffffe;
      }
      
      .showPic {
        border-color: #9656a1;
      }
      
    }
  }
}
}