@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef6e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Lilita One', cursive;
  display: flex;
  // justify-content: center;
  // justify-self: center;
}

///////////
/// HEADER
//////////
.nav { 
  width: 100%;
background-color: red;
display: inline-flex;
justify-content: flex-end;
  .headerDiv {
    background-color: blue;
    justify-self: flex-start;
    align-self:flex-start;
  }
  ul {
    list-style: none;
    .welcome {
      
      background-color: green;
    }
    .google-profile-pic {
      border-radius: 50%;
    }
    .logoutButton {

    }
    .loginButton {

    }
  }
}


////////
/// INDEX
//////////


ul {
  
      display: grid;
    grid-template-columns: 1fr;

  .indexCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    background-color: #8bd3dd;
    padding: 10px; 
    width: 400px;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    border-color: #001858;
  }
  .petName {
    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
  }
  .pic {
    display: flex;
    max-height: 400px;
    align-content: center;
    align-self: center;
        max-width: 350px;
        min-width: 300px;
        min-height: 100px;
        border-style: solid;
        border-width: 3px;
        border-color: #001858; 
  }
  .indexDescription {
    display: flex;
    justify-self: center;
    
  }
 }
/////////
/// SHOW
////////
.showPetDiv {
  
  .showPetName {

  }
  .showPic {
    display: flex;
    max-height: 400px;
    align-content: center;
    align-self: center;
        max-width: 350px;
        min-width: 300px;
        min-height: 100px;
        border-style: solid;
        border-width: 3px;
        border-color: #001858; 

  }
  .showDescription {

  }
  .showBreed {
    display: flex;
    justify-self: center;
  }
  .showAge {
    display: flex;
    justify-self: center;

  }
}
 @media only screen and (min-width: 770px) {
  body {
      display: grid;
      grid-template-columns: auto auto auto auto;
    
    }
    .displayPetDiv {
      .available {
        display: flex;
        justify-content: center;
        justify-self: center;
      }
      ul {
     display: grid;
     grid-template-columns: auto auto auto auto ;
     max-width: 400px; 
     min-height: 400px;
      padding: 20px; 
      margin: 15px;
    }
    .indexCard {
      padding: 10px;
      margin: 10px;
    }
    .petName {
      display: flex;
      justify-self: center;
      justify-content: center;
    }
    .indexDescription {
      display: flex;
      flex-direction: column;
      padding: 10px; 
      width: 400px;
    }
    .pic {
      max-width: 350px;
      justify-self: center;
    }
  }
}

@media (prefers-color-scheme: dark) {
body {
  background-color: #55423d;
}
.displayPetDiv {

  .indexCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    background-color: #9656a1;
    border-style: solid;
    border-width: 3px;
    border-color: #271c19;
  }
  img {
    border-style: solid;
    border-width: 3px;
    border-color: #ffc0ad;
  }
}
}
