@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef6e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Lilita One', cursive;
  display: flex;
  // justify-content: center;
  // justify-self: center;
}

///////////
/// HEADER
//////////
.nav { 
  width: 100%;
background-color: #55423d;
display: grid;
// justify-content: flex-end;
grid-template-columns: 
1fr
2fr
1fr;  
  .headerDiv {
  display: flex;
  align-items: center;
    background-color: #55423d;
    grid-column: 1;
    font-family: 'Lilita One', cursive;
    font-size: 25px;
    padding: 5px;
  
    // justify-self: flex-start;
    // align-self:flex-start;
  }
  ul {
    display: flex;
    list-style: none;
    grid-column: 3;
    padding: 5px;
    .welcome {
  // margin: 5px;
  max-width: 70px;
  font-family: 'Lilita One', cursive;
      
    
    }
    .google-profile-pic {
      grid-column: 3;
      border-radius: 50%;
      margin: 5px;
      max-width: 50px;
    }
    .buttonArea {
    display: flex;
    align-items: center;
    }
    .logoutButton {
align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;

    }
    .loginButton {
      align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;

    }
  }
}

////////
/// FAVES PAGE
//////////


  .favoriteArea {

    background-color: #fef6e4;
    display: grid;
    grid-template-columns: 1fr;
  
  
  .favoritePetsContainer {
 
    
    .link {
      text-decoration: none;
    }
    
    
    .favoritePetCard {
      display: flex;
      flex-direction: column;
      margin: 10px;
      justify-self: center;
      justify-content: center;
      list-style-type: none;
      background-color: #8bd3dd;
      padding: 10px; 
      width: 400px;
      margin: 10px;
      border-width: 3px;
      border-style: solid;
      border-radius: 30px;
      border-color: #001858;
    }
    .favoriteName {
      font-family: 'Lilita One', cursive;
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    
    .favoritePic {
      display: flex;
      flex-direction: column;
      max-height: 400px;
      justify-content: center;
      justify-self: center;
      max-width: 350px;
      min-width: 300px;
      border-style: solid;
      border-width: 3px;
      border-color: #001858; 
    }
    .favoriteAge {
      
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    .favoriteGender {
      display: flex;
      justify-content: center;
    }
    .favoriteBreeds {
      display: flex;
      justify-content: center;
    }
    
  }
}
  
  .favoritePetRow {
     display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

////////
/// INDEX
//////////

ul {
  
      display: grid;
    grid-template-columns: 1fr;
    .petLink {
      text-decoration: none;
    }

  .indexCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    background-color: #8bd3dd;
    padding: 10px; 
    width: 400px;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    border-color: #001858;
  }
  .petName {
    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  
  

  .pic {
    display: flex;
    max-height: 400px;
    align-content: center;
    align-self: center;
        max-width: 350px;
        min-width: 300px;
        min-height: 100px;
        border-style: solid;
        border-width: 3px;
        border-color: #001858; 
  }
  .indexAge {
    display: flex;
    justify-self: center;
    
  }
 }
/////////
/// SHOW
////////
.showPetDiv {
  
  .showPetName {

  }
  .showPic {
    display: flex;
    max-height: 400px;
    align-content: center;
    align-self: center;
        max-width: 350px;
        min-width: 300px;
        min-height: 100px;
        border-style: solid;
        border-width: 3px;
        border-color: #001858; 

  }
  .showDescription {

  }
  .showBreed {
    display: flex;
    justify-self: center;
  }
  .showAge {
    display: flex;
    justify-self: center;

  }
}
 @media only screen and (min-width: 770px) {
  body {
      // display: grid;
      // grid-template-columns: auto auto auto auto;
      background-color: #fef6e4;
    }

    //////
    /// HEADER MEDIA QUERY
    /// ///////////////
    /// 
    /// 
    .nav { 
      width: 100%;
    background-color: #55423d;
    display: grid;
    // justify-content: flex-end;
    grid-template-columns: 
    1fr
    2fr
    1fr;  
      .headerDiv {
       
        grid-column: 1;
        font-family: 'Lilita One', cursive;
      
        // justify-self: flex-start;
        // align-self:flex-start;
      }
      ul {
        display: flex;
        list-style: none;
        grid-column: 3;
        padding: 5px;
        .welcome {
      // margin: 5px;
      max-width: 70px;
      font-family: 'Lilita One', cursive;
          
         
        }
        .google-profile-pic {
          grid-column: 3;
          border-radius: 50%;
          margin: 5px;
          max-width: 50px;
        }
        .buttonArea {
        display: flex;
        align-items: center;
        }
        .logoutButton {
    align-content: center;
    align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;
        }
        .loginButton {
          align-content: center;
border: none;
border-radius: 6px;
background-color: #ffc0ad;
    
        }
      }
    }
/////////////////
/// FAVES MEDIA QUERY
///////////////////// 

  .favoriteArea {
    display: grid;
    
    // padding: 20px; 
    // margin: 15px;
    
    .favoritePetsContainer {
      grid-template-columns: auto auto auto auto ;

  .favoritePetCard {

  }
      
      
      
      
    }
    // all items in center
    
    .link {
      text-decoration: none;
    }
    
    
    .favoritePetCard {
      
      display: flex;
      flex-direction: column;
      margin: 10px;
      justify-self: center;
      justify-content: center;
      list-style-type: none;
      background-color: #8bd3dd;
      padding: 10px; 
      width: 400px;
      margin: 10px;
      border-width: 3px;
      border-style: solid;
      border-radius: 30px;
      border-color: #001858;
    }
    .favoriteName {
      font-family: 'Lilita One', cursive;
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    
    .favoritePic {
      display: flex;
      flex-direction: column;
      max-height: 400px;
      justify-content: center;
      justify-self: center;
      max-width: 350px;
      min-width: 300px;
      border-style: solid;
      border-width: 3px;
      border-color: #001858; 
    }
    
  }

  /////////////////
  /// INDEX MEDIA QUERY
  ///////////////////// 
    
  
  .displayPetDiv {
      .available {
        display: flex;
        justify-content: center;
        justify-self: center;
      }
      ul {
        display: grid;
        grid-template-columns: auto auto auto auto ;
        max-width: 400px; 
        min-height: 400px;
      padding: 20px; 
      margin: 15px;
    }
    .indexCard {
      padding: 10px;
      margin: 10px;
    }
    .petName {
      display: flex;
      justify-self: center;
      justify-content: center;
    }
    .indexAge {
      display: flex;
      flex-direction: column;
      padding: 10px; 
      width: 400px;
      // overflow: scroll;
    }
    .pic {
      max-width: 350px;
      justify-self: center;
    }
  }
}

@media (prefers-color-scheme: dark) {
body {
  background-color: #55423d;
}
.displayPetDiv {

  .indexCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    list-style-type: none;
    background-color: #9656a1;
    border-style: solid;
    border-width: 3px;
    border-color: #271c19;
  }
  img {
    border-style: solid;
    border-width: 3px;
    border-color: #ffc0ad;
  }
}
}